/*==============================
=            colors            =
==============================*/

$myRed: #ed1b24;

$myDarkRed: #d3191c;

$charcoal: #222;

/*-----  End of colors  ------*/




/*=================================
=            typefaces            =
=================================*/

$typewriter: 'Lekton', sans-serif;

$sansSerifFont: 'Roboto Condensed', sans-serif;

/*-----  End of typefaces  ------*/
